body{
    background-color: rgb(255, 255, 255);
    text-align:left;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

form{
     text-align: center;
     height: 400px;
    
}
p{
    text-align: center;
    height: -400px;
}   
footer{
    height: 10px;
}